/* Carta Menú */

.nuestra-carta {
    padding: 20px;
}

.nuestra-carta h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

.col .card {
    margin: 0 10px;
}

.card h-100 custom-card {
    background-color: #302a2a;
}